/* CSS Styles - Rubén Saiz Serrano*/

.btn-rightPanel {
    -fx-font-size: 20px;
    -fx-cursor: HAND;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.btn-limpiar {
    -fx-font-size: 15px;
    -fx-cursor: HAND;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.seleccion-color {
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

.btn-configuracion {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-cursor: HAND;
}